name: Cleanup old packages
on:
  schedule:
    - cron: "0 8 * * SUN"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}

jobs:
  cleanup-old-packages:
    name: Cleanup old packages
    runs-on: ubuntu-24.04

    permissions:
      packages: write

    steps:
      - name: Cleanup packages older than two weeks
        uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4 # v1.0.16
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          exclude-tags: 'latest'
          delete-untagged: true
          keep-n-tagged: 7
          delete-orphaned-images: true
          older-than: 14 days
